[run]
omit =
    openalex/connection.py
    openalex/metrics/performance.py
    openalex/utils/pagination.py
    openalex/query.py
    openalex/entities.py
    openalex/models/work.py
    openalex/models/source.py
    openalex/models/institution.py
